<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :product_nombre %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :product_descripcion %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :product_tipo %>
  </div>

  <div class="field">
    <%= form.label :material %>
    <%= form.text_field :material, id: :product_material %>
  </div>

  <div class="field">
    <%= form.label :dimensiones %>
    <%= form.number_field :dimensiones, id: :product_dimensiones %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, id: :product_color %>
  </div>

  <div class="field">
    <%= form.label :peso %>
    <%= form.text_field :peso, id: :product_peso %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
